body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .parentInput{
  justify-content: center;
} */
form{
  display: inline-block;
  padding-top: 2em;

}


table{
  margin-top: 3em;
  margin-right: 2px;
 

}
.card-1 {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    margin-top: 3em;
  margin-right: 2em;
}

#showData{
  display: flex;

}

.anychart-credits-text{
  display: none;
}
#showPie{
  display: flex;
}
#showChart{
  display: flex;
  padding-top: 1em;
 
}
#ac-chart-container{
  display: flex;
}


#results{
  padding-left: 2em;
  align-items: center;
  margin-left: -26em;
}
#chat{
  padding-right: 3em;
  margin-left: -10em;
}
#pieChat{
  padding-right: 3em;
}






